/* General Stuff */

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

/* Important Map Thing */

.leaflet-container {
  width: 50vw;
  height: 93vh;
}
