/* General Stuff */
.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100vw
}

/* Important Map Thing */

.leaflet-container {
  width: 50vw;
  height: 93vh;
}

#webpage-title {
  font-family: 'Noto Serif', serif;
  margin: 20%;
}

.MuiDataGrid-row.Mui-odd {
  background-color: aliceblue;
}